<div class="container" id="textblock" >
<h1>Edit comment</h1>
<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', :back %>
</div>