<div class="jumbotron" id="mainjumbo">
  <div class="container">
    <h1>Bitcoin Is Power In Numbers</h1>
    <p>Let's find out where all that power is going today.</p>
    <a class="btn btn-primary btn-lg" href="/c/create" role="button">Add an Address!</a>
    <br>
  </div>
</div>
<div class="container" id="featuredmenu">
<div class="row" id="featured">
  <!--<div class="col-sm-6 col-md-4" id="featuredprojects">
    <div class="img" id="featuredimg">
      <img src="/assets/5.png" alt="...">
      <div class="caption">
        <h3>Hottest this Week</h3>
        <p>Blurb Tagline Or Description</p>
        <a href="#" class="btn btn-primary" role="button">More Info</a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#featuredModal1">View QR</button>
        <div id="featuredModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="featuredModalLabel1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <h3>Featured Modal 1</h3>
                <img src="//placehold.it/500x500" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
  </div>
  <div class="col-sm-6 col-md-4" id="featuredprojects">
    <div class="img" id="featuredimg">
      <img src="/assets/5.png" alt="...">
      <div class="caption">
        <h3>Needs Some Love</h3>
        <p>Blurb Tagline Or Description</p>
        <a href="#" class="btn btn-primary" role="button">More Info</a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#featuredModal2">View QR</button>
        <div id="featuredModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="featuredModalLabel2" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <h3>Featured Modal 2</h3>
                <img src="//placehold.it/500x500" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4" id="featuredprojects">
    <div class="img" id="featuredimg">
      <img src="/assets/5.png" alt="...">
      <div class="caption">
        <h3>Feature of the Week</h3>
        <p>Blurb Tagline Or Description</p>
        <a href="#" class="btn btn-primary" role="button">More Info</a>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#featuredModal3">View QR</button>
        <div id="featuredModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="featuredModalLabel3" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <h3>Featured Modal 3</h3>
                <img src="//placehold.it/500x500" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
<div class="separator">
<div class="container" id="listmode">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a data-target="#home" data-toggle="tab">Top</a></li>
    <li><a data-target="#popular" data-toggle="tab">Most Popular</a></li>
    <li><a data-target="#updated" data-toggle="tab">Recently Updated</a></li>
    <li><a data-target="#new" data-toggle="tab">New</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home"><%= render "campaigns/list", :locals => {:organize => "created_at"}%></div>
    <div class="tab-pane" id="updated"><%= render "campaigns/list", :locals => {:organize => "updated_at"} %></div>
    <div class="tab-pane" id="popular"><%= render "campaigns/list", :locals => {:organize => "views"} %></div>
    <div class="tab-pane" id="new"><%= render "campaigns/list", :locals => {:organize => "created_at"} %></div>
</div>
  </div>
<!--
				~~~~Display~~~~

night mode 

higher - most valuable space
		- slideshow of the most popular
		- slide for the up-and-coming ~~~ define
			- each month, if there has been a spike in views, add it
		- new campaign gets showcased per certain number of unique inhits
			- cycles to a new campaign after 50 people have seen it on the front pages
		-track and document who gets the spots
		-facebook's like ~~ highfive limited to account ~ account security, capchta
			- list of campaigns you've highfived, bookmarked
			- twitter, facebook posts - popups, then remember whether or not to automatically tweet after vote -> not ever, maybe later, always


mid - bigger windows to click
	-infinite scroll
	-donate to all
	-donate to random
	-track and document who gets the spots
	-facebook's like
	- tag size

low - just random projects
	- option to sort all projects alphabetically
	- standard what's hot filter
		- more active projects towards the top
	- visual similar to reddit/voat
	- thumbnail

thumbnail - processing vs. gathering appropriate sizes straight from user
			-squarespace
			- kickstarter


frontpage - learns which categories user is interested in
		  - filters

HIGHFIVE - facebook like
			- able to be retracted
			- include image/video in the post


COMMENTS - be able to make comments on campaigns
			- threaded: comments on comments
				- high five on comments
			- ratings

show page - embedding youtube/vimeo links

imgur/youtube for hosting videos, pictures



		  -->
