<div id="login">
  <div class="login-heading"><h1>Login:</h1></div>
  <div class="login-body">
    <a class="btn btn-primary btn-lg" href="/auth/facebook" role="button" style="margin-bottom:10px;">Login with Facebook</a><br>
    <a class="btn btn-success btn-lg" href="/auth/google_oauth2" role="button" style="margin-bottom:10px;">Login with Google</a><br>
    <a class="btn btn-primary btn-lg" href="https://www.reddit.com/api/v1/authorize?client_id=tJ7h69WytTSbPA&amp;response_type=code&amp;state=IEatDonkeyBalls&amp;redirect_uri=http://localhost:3000/auth/reddit/callback&amp;duration=permanent&amp;scope=identity"role="button">Login with Reddit</a>
  </div>
</div>
