<div class="container" id="textblock" >
  <h2>We want to get people talking about the bitcoin economy.</h2>
  <p>Little Bit Back is the effort of several strangers who met via Reddit to create a hub for all of the interesting things going on in the crypto-economy. If the blockchain is the evidence of Bitcoin’s past, we want Little Bit Back to be the history book, or at least the newspaper.
  By placing a spotlight on and providing context to the motion of money around the internet, we feel we can draw greater attention to the power of crypto-currencies.</p>
  <p>Let's engage people in the movement of <i>their</i> money.</p>
  </div>
<div class="container" id="textblock" >
  <h3>Contact us via our <a href="http://www.reddit.com/r/littlebitback">subreddit</a>!</h3>
  LittleBitBack has been a volunteer effort and we will take all the help we can get. All feedback is welcome. We're also accepting donations <a href="">here</a>.
</div>

