<div class="container" id="textblock" style="margin: 20px"><h1>FAQ</h1>
  <h4>What is Bitcoin?</h4>
  Click Here To Read The Bitcoin FAQ
  <h4>What is LittleBitBack?</h4>
  LittleBitBack exists to increase visibility of projects being funded by Bitcoin. We are open to all projects, from well-known sources to anonymous individuals.
  <h4>Why was LittleBitBack created?</h4>
    LittleBitBack was created because we felt like a database of Bitcoin projects would be a valuable asset to the Internet. By reducing the friction between those looking to donate Bitcoin and the projects accepting the cryptocurrency, we can ensure that donated funds are going to the projects that most deserve their funds.
    <h4>What does LittleBitBack offer versus existing crowdfunding solutions?</h4>
      LittleBitBack is entirely funded by donations and never holds any money from our users on either side of the transaction. Additionally, we do not hide donation addresses behind any registration walls and we display a verification link provided by the petitioner. This gives donors the ability to verify the validity of the project themselves before they give funds.
  While traditional crowdfunding sites tend to “protect” their donors, there is very little they can do in the event that the project doesn’t deliver on their promises. The existing infrastructure then acts only to take a portion of their user’s funds for only offering a donation platform and managing user funds. We feel that with cryptocurrencies like Bitcoin, this service is no longer necessary and will be rendered obsolete by more simple solutions of connecting donors to projects.
      <h4>Who is LittleBitBack?</h4>
        LittleBitBack is a project that has been developed by three previously-unfamiliar Redditors who came together under a unified concept of simplifying crowdfunding with the use of smarter currency. Our goal is to serve the needs of our users and we are openly accepting feedback and assistance via our subreddit.
</div>